* {
	border: solid 1px;
	box-sizing: border-box;
}

#wrapper {
	margin: 50px;
	text-align: center;
}

#game-board{
	max-width: 800px;
	height: 800px;
	display:block;
}

#game-board:nth-child(3n+1) {
	clear:left;
}

.tile {
	width: 200px;
	height: 200px;
	margin: 2.5%;
	display: block;
	float: left;

}